In [1]:
import pandas as pd
from pandas.plotting import autocorrelation_plot
import numpy as np
import matplotlib.pyplot as plt
import datetime,time
from datetime import datetime
from sklearn.metrics import mean_absolute_error
from sklearn.ensemble import RandomForestRegressor
from sklearn.linear_model import LinearRegression
from scipy import signal
import statistics

In [2]:
# Mean absolute error (MAE)

def MAE(Y, Y_chap):
    if len(Y) == len(Y_chap):
        mae = np.sum(np.absolute(Y_chap - Y)) / len(Y)
    else:
        print('Probleme de dimension entre Y et Y_chap')
        print('len(Y) :', len(Y))
        print('len(Y_chap) :', len(Y_chap))
    
    return mae


# Root Mean squared error (MRSE)

def MRSE(Y, Y_chap):
    if len(Y) == len(Y_chap):
        mrse = np.sqrt(((Y_chap - Y)**2).mean()) 
    else:
        print('Probleme de dimension entre Y et Y_chap')
        print('len(Y) :', len(Y))
        print('len(Y_chap) :', len(Y_chap))
    
    return mrse

## Turbine 1

In [3]:
Turb1 = pd.read_csv('./FRSSO18.csv',sep=';',decimal=',',parse_dates=['DateTime'],dayfirst=True)
Turb1

,DateTime,ActivePower,ProductionForecast_D,ProductionForecast_M
0,2020-03-05 00:00:00,1614.345422,948.189357,745.2
1,2020-03-05 01:00:00,1478.355419,967.269962,711.8
2,2020-03-05 02:00:00,1690.147069,948.830677,645.0
3,2020-03-05 03:00:00,1516.965994,1102.870568,645.0
4,2020-03-05 04:00:00,936.617865,962.811666,568.8
...,...,...,...,...
11673,2021-10-16 14:00:00,0.423586,0.000000,0.0
11674,2021-10-16 16:00:00,33.743984,0.000000,0.0
11675,2021-10-16 17:00:00,66.180937,29.035056,0.0
11676,2021-10-16 22:00:00,3.609505,0.000000,4.0
11677,2021-10-17 01:00:00,2.386485,0.000000,2.0

In [4]:
Turb1.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11678 entries, 0 to 11677
Data columns (total 4 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   DateTime              11678 non-null  datetime64[ns]
 1   ActivePower           11678 non-null  float64
 2   ProductionForecast_D  11678 non-null  float64
 3   ProductionForecast_M  11678 non-null  float64
dtypes: datetime64[ns](1), float64(3)
memory usage: 365.1 KB

In [5]:
# Si on veut un an de train et le reste de test, quel est l'indice de split dans le dataset? 
Turb1.loc[Turb1['DateTime']== '2021-03-05 00:00:00'].index.values

array([7276])

In [6]:
# On récupère la liste des indices des moments de prédiction (chaque jour à 12h)

indicedf = pd.DataFrame(Turb1['DateTime'])
liste_p1 = Turb1[indicedf.loc[:,'DateTime'].apply(lambda x: x.strftime('%H'))=='12'].index.values
liste_p1

array([   12,    36,    60,    84,   108,   132,   156,   179,   202,
         226,   250,   284,   306,   330,   354,   378,   400,   424,
         445,   468,   488,   512,   536,   559,   581,   605,   642,
         666,   690,   713,   729,   752,   782,   795,   819,   843,
         867,   882,   902,   922,   946,   969,   993,  1015,  1039,
        1076,  1098,  1122,  1145,  1167,  1190,  1208,  1229,  1253,
        1277,  1296,  1312,  1347,  1370,  1394,  1441,  1465,  1489,
        1503,  1518,  1541,  1569,  1589,  1613,  1634,  1658,  1680,
        1703,  1727,  1775,  1782,  1807,  1820,  1871,  1894,  1917,
        1941,  1963,  1986,  2008,  2032,  2056,  2086,  2138,  2158,
        2177,  2207,  2228,  2249,  2269,  2293,  2313,  2337,  2358,
        2381,  2420,  2442,  2466,  2490,  2514,  2538,  2555,  2595,
        2619,  2647,  2669,  2691,  2715,  2757,  2776,  2800,  2824,
        2841,  2891,  2909,  2931,  2953,  2971,  2990,  3014,  3044,
        3073,  3085,  3103,  3126,  3151,  3175,  3198,  3217,  3235,
        3255,  3279,  3300,  3322,  3342,  3365,  3382,  3406,  3429,
        3450,  3469,  3493,  3517,  3533,  3555,  3577,  3594,  3615,
        3624,  3636,  3656,  3670,  3714,  3738,  3757,  3780,  3803,
        3826,  3864,  3897,  3920,  3941,  3965,  3989,  4002,  4026,
        4050,  4073,  4097,  4121,  4145,  4190,  4214,  4238,  4262,
        4286,  4302,  4346,  4370,  4394,  4428,  4433,  4454,  4478,
        4502,  4524,  4548,  4572,  4596,  4617,  4641,  4661,  4685,
        4709,  4731,  4751,  4796,  4818,  4840,  4864,  4879,  4895,
        4956,  4980,  5026,  5048,  5071,  5106,  5129,  5149,  5182,
        5227,  5251,  5274,  5294,  5336,  5354,  5378,  5394,  5430,
        5453,  5476,  5498,  5520,  5544,  5568,  5590,  5613,  5635,
        5657,  5680,  5704,  5728,  5752,  5775,  5798,  5820,  5840,
        5874,  5898,  5922,  5946,  5964,  5993,  6017,  6041,  6065,
        6089,  6113,  6137,  6161,  6179,  6201,  6220,  6260,  6280,
        6303,  6324,  6348,  6365,  6398,  6421,  6440,  6451,  6472,
        6496,  6520,  6544,  6590,  6614,  6638,  6661,  6684,  6706,
        6727,  6787,  6810,  6830,  6849,  6887,  6911,  6935,  6959,
        6982,  7005,  7029,  7052,  7075,  7099,  7122,  7145,  7169,
        7193,  7217,  7252,  7288,  7312,  7333,  7357,  7394,  7438,
        7458,  7478,  7517,  7539,  7562,  7585,  7608,  7629,  7653,
        7677,  7697,  7721,  7744,  7768,  7790,  7807,  7826,  7836,
        7860,  7884,  7908,  7931,  7952,  7975,  8004,  8026,  8049,
        8068,  8091,  8114,  8137,  8156,  8179,  8202,  8248,  8272,
        8295,  8317,  8341,  8365,  8388,  8401,  8424,  8448,  8471,
        8495,  8506,  8530,  8574,  8595,  8615,  8639,  8660,  8683,
        8707,  8749,  8773,  8797,  8820,  8842,  8864,  8888,  8911,
        8933,  8953,  8977,  8999,  9021,  9056,  9079,  9103,  9127,
        9150,  9174,  9195,  9231,  9254,  9307,  9363,  9387,  9443,
        9459,  9476,  9527,  9585,  9614,  9623,  9658,  9680,  9707,
        9731,  9752,  9773,  9797,  9834,  9857,  9875,  9913,  9937,
        9961,  9985, 10008, 10032, 10056, 10079, 10101, 10124, 10142,
       10163, 10185, 10208, 10231, 10255, 10279, 10293, 10313, 10335,
       10356, 10380, 10411, 10435, 10457, 10481, 10504, 10527, 10564,
       10586, 10610, 10641, 10657, 10681, 10704, 10727, 10751, 10774,
       10796, 10820, 10844, 10867, 10891, 10915, 10939, 10960, 10983,
       11007, 11024, 11031, 11060, 11077, 11101, 11124, 11148, 11172,
       11209, 11232, 11256, 11262, 11284, 11317, 11341, 11362, 11387,
       11400, 11422, 11446, 11464, 11486, 11526, 11547, 11592, 11613,
       11641])

In [7]:
Turb1[['ProductionForecast_M','ProductionForecast_D']][liste_p1[0]:liste_p1[2]]

    ProductionForecast_M  ProductionForecast_D
12                2028.0           2057.518240
13                2032.0           2057.500489
14                2044.0           2057.209959
15                2050.0           2047.839547
16                2042.0           2044.552384
17                2008.0           1984.293343
18                1959.0           2057.212053
19                1918.0           2057.508598
20                2000.0           2057.403097
21                2032.0           2057.494224
22                2020.0           2056.881473
23                2032.0           2057.420683
24                2028.0           2057.518227
25                2012.0           2057.429078
26                1979.5           2056.988207
27                1918.0           2041.221801
28                1711.0           1981.210572
29                1417.0           1719.534073
30                1137.4           1770.287224
31                1018.6           1401.149443
32                 945.6           1318.105924
33                 878.8           1170.587582
34                 745.2            880.402610
35                 645.0            903.070294
36                 543.4            859.449803
37                 492.6            894.677080
38                 467.2            806.671770
39                 467.2            447.664843
40                 335.2            353.943709
41                 242.2            511.706509
42                 182.8            479.519492
43                 182.8            512.834784
44                 223.6            505.690927
45                 279.4            497.298462
46                 242.2            505.880938
47                 205.0            501.891615
48                 353.8            470.508262
49                 335.2            455.934316
50                 335.2            469.843572
51                 316.6            263.417594
52                 279.4            187.067896
53                 260.8            184.566351
54                 242.2            232.022175
55                 160.6            222.131737
56                 116.2            125.946060
57                  79.2            110.243444
58                  94.0            141.805108
59                 138.4            208.780517

In [17]:
smae_1 = 0
smrse_1 = 0
l1 = 0
y_pred1 = []

for i in range(0, len(liste_p1) - 62):
    x_train1_i = np.array(Turb1[['ProductionForecast_M','ProductionForecast_D']][liste_p1[i]:liste_p1[i+60]])
    x_test1_i = np.array(Turb1[['ProductionForecast_M','ProductionForecast_D']][liste_p1[i+60]:liste_p1[i+62]])
    y_train1_i = np.array(Turb1[['ActivePower']][liste_p1[i]:liste_p1[i+60]])
    y_test1_i = np.array(Turb1[['ActivePower']][liste_p1[i+60]:liste_p1[i+62]])
    reg1_i = LinearRegression().fit(x_train1_i, y_train1_i)
    y_pred1_i = reg1_i.predict(x_test1_i)
    smae_1 += np.sum(np.absolute(y_test1_i - y_pred1_i))
    smrse_1 += np.sum((y_test1_i - y_pred1_i)**2)
    l1 += len(y_test1_i)
    y_pred1.append(y_pred1_i)
    
    #mae1_i = MAE(y_test1_i, y_pred1_i)
    #mrse1_i = MRSE(y_test1_i, y_pred1_i)
    #mae_1.append(mae1_i) 
    #mrse_1.append(mrse1_i)

In [18]:
mae_turb1 = smae_1/l1
mrse_turb1 = np.sqrt(smrse_1/l1)
#mae_turb1 = statistics.mean(mae_1)
#mrse_turb1 = statistics.mean(mrse_1)
print('MAE_turb1 :', mae_turb1)
print('MRSE_turb1 :', mrse_turb1)

MAE_turb1 : 217.41411917748542
MRSE_turb1 : 308.6588454490928

In [43]:
print(l1) # plus grande longueur que le dataset car les prédictions se recouvrent
print(len(y_pred1)) # on retrouve le nombre de midis du dataset

22720
466

In [19]:
# Valeurs de référence des experts 
mae1_D = MAE(np.array((Turb1[['ProductionForecast_D']][1394:])), np.array(Turb1[['ActivePower']][1394:]))
mae1_M = MAE(np.array((Turb1[['ProductionForecast_M']][1394:])), np.array(Turb1[['ActivePower']][1394:]))
mrse1_D = MRSE(np.array((Turb1[['ProductionForecast_D']][1394:])), np.array(Turb1[['ActivePower']][1394:]))
mrse1_M = MRSE(np.array((Turb1[['ProductionForecast_M']][1394:])), np.array(Turb1[['ActivePower']][1394:]))
print('MAE_D :', mae1_D)
print('MRSE_D :', mrse1_D)
print('MAE_M :', mae1_M)
print('MRSE_M :', mrse1_M)

MAE_D : 229.1306128468052
MRSE_D : 349.0180130285433
MAE_M : 217.0059174462975
MRSE_M : 327.70820880504647

## Turbine 2

In [20]:
Turb2 = pd.read_csv('./FRMHN11.csv',sep=';',decimal=',',parse_dates=['DateTime'],dayfirst=True)
Turb2

,DateTime,ActivePower,ProductionForecast_D,ProductionForecast_M
0,2020-03-05 00:00:00,1697.202216,1750.206339,1338.75
1,2020-03-05 01:00:00,1708.172571,1859.345119,1143.75
2,2020-03-05 02:00:00,1244.708609,1727.167637,1046.25
3,2020-03-05 03:00:00,1261.804036,1645.022462,1046.25
4,2020-03-05 04:00:00,1281.095993,1655.782922,997.50
...,...,...,...,...
11757,2021-10-20 00:00:00,3299.856095,2720.159697,2820.00
11758,2021-10-20 01:00:00,2387.907817,2660.177096,2820.00
11759,2021-10-20 02:00:00,2016.272911,2568.792496,2775.00
11760,2021-10-20 03:00:00,2181.557309,2739.319746,2775.00
11761,2021-10-20 04:00:00,1306.383054,2925.364899,3000.00

In [21]:
Turb2.loc[Turb2['DateTime']== '2021-03-05 00:00:00'].index.values

array([7221])

In [22]:
# On récupère la liste des indices des moments de prédiction (chaque jour à 12h)

indicedf2 = pd.DataFrame(Turb1['DateTime'])
liste_p2 = Turb1[indicedf2.loc[:,'DateTime'].apply(lambda x: x.strftime('%H'))=='12'].index.values
liste_p2

array([   12,    36,    60,    84,   108,   132,   156,   179,   202,
         226,   250,   284,   306,   330,   354,   378,   400,   424,
         445,   468,   488,   512,   536,   559,   581,   605,   642,
         666,   690,   713,   729,   752,   782,   795,   819,   843,
         867,   882,   902,   922,   946,   969,   993,  1015,  1039,
        1076,  1098,  1122,  1145,  1167,  1190,  1208,  1229,  1253,
        1277,  1296,  1312,  1347,  1370,  1394,  1441,  1465,  1489,
        1503,  1518,  1541,  1569,  1589,  1613,  1634,  1658,  1680,
        1703,  1727,  1775,  1782,  1807,  1820,  1871,  1894,  1917,
        1941,  1963,  1986,  2008,  2032,  2056,  2086,  2138,  2158,
        2177,  2207,  2228,  2249,  2269,  2293,  2313,  2337,  2358,
        2381,  2420,  2442,  2466,  2490,  2514,  2538,  2555,  2595,
        2619,  2647,  2669,  2691,  2715,  2757,  2776,  2800,  2824,
        2841,  2891,  2909,  2931,  2953,  2971,  2990,  3014,  3044,
        3073,  3085,  3103,  3126,  3151,  3175,  3198,  3217,  3235,
        3255,  3279,  3300,  3322,  3342,  3365,  3382,  3406,  3429,
        3450,  3469,  3493,  3517,  3533,  3555,  3577,  3594,  3615,
        3624,  3636,  3656,  3670,  3714,  3738,  3757,  3780,  3803,
        3826,  3864,  3897,  3920,  3941,  3965,  3989,  4002,  4026,
        4050,  4073,  4097,  4121,  4145,  4190,  4214,  4238,  4262,
        4286,  4302,  4346,  4370,  4394,  4428,  4433,  4454,  4478,
        4502,  4524,  4548,  4572,  4596,  4617,  4641,  4661,  4685,
        4709,  4731,  4751,  4796,  4818,  4840,  4864,  4879,  4895,
        4956,  4980,  5026,  5048,  5071,  5106,  5129,  5149,  5182,
        5227,  5251,  5274,  5294,  5336,  5354,  5378,  5394,  5430,
        5453,  5476,  5498,  5520,  5544,  5568,  5590,  5613,  5635,
        5657,  5680,  5704,  5728,  5752,  5775,  5798,  5820,  5840,
        5874,  5898,  5922,  5946,  5964,  5993,  6017,  6041,  6065,
        6089,  6113,  6137,  6161,  6179,  6201,  6220,  6260,  6280,
        6303,  6324,  6348,  6365,  6398,  6421,  6440,  6451,  6472,
        6496,  6520,  6544,  6590,  6614,  6638,  6661,  6684,  6706,
        6727,  6787,  6810,  6830,  6849,  6887,  6911,  6935,  6959,
        6982,  7005,  7029,  7052,  7075,  7099,  7122,  7145,  7169,
        7193,  7217,  7252,  7288,  7312,  7333,  7357,  7394,  7438,
        7458,  7478,  7517,  7539,  7562,  7585,  7608,  7629,  7653,
        7677,  7697,  7721,  7744,  7768,  7790,  7807,  7826,  7836,
        7860,  7884,  7908,  7931,  7952,  7975,  8004,  8026,  8049,
        8068,  8091,  8114,  8137,  8156,  8179,  8202,  8248,  8272,
        8295,  8317,  8341,  8365,  8388,  8401,  8424,  8448,  8471,
        8495,  8506,  8530,  8574,  8595,  8615,  8639,  8660,  8683,
        8707,  8749,  8773,  8797,  8820,  8842,  8864,  8888,  8911,
        8933,  8953,  8977,  8999,  9021,  9056,  9079,  9103,  9127,
        9150,  9174,  9195,  9231,  9254,  9307,  9363,  9387,  9443,
        9459,  9476,  9527,  9585,  9614,  9623,  9658,  9680,  9707,
        9731,  9752,  9773,  9797,  9834,  9857,  9875,  9913,  9937,
        9961,  9985, 10008, 10032, 10056, 10079, 10101, 10124, 10142,
       10163, 10185, 10208, 10231, 10255, 10279, 10293, 10313, 10335,
       10356, 10380, 10411, 10435, 10457, 10481, 10504, 10527, 10564,
       10586, 10610, 10641, 10657, 10681, 10704, 10727, 10751, 10774,
       10796, 10820, 10844, 10867, 10891, 10915, 10939, 10960, 10983,
       11007, 11024, 11031, 11060, 11077, 11101, 11124, 11148, 11172,
       11209, 11232, 11256, 11262, 11284, 11317, 11341, 11362, 11387,
       11400, 11422, 11446, 11464, 11486, 11526, 11547, 11592, 11613,
       11641])

In [23]:
smae_2 = 0
smrse_2 = 0
l2 = 0

for i in range(0, len(liste_p1) - 62):
    x_train2_i = np.array(Turb2[['ProductionForecast_M','ProductionForecast_D']][liste_p2[i]:liste_p2[i+60]])
    x_test2_i = np.array(Turb2[['ProductionForecast_M','ProductionForecast_D']][liste_p2[i+60]:liste_p2[i+62]])
    y_train2_i = np.array(Turb2[['ActivePower']][liste_p2[i]:liste_p2[i+60]])
    y_test2_i = np.array(Turb2[['ActivePower']][liste_p2[i+60]:liste_p2[i+62]])
    reg2_i = LinearRegression().fit(x_train2_i, y_train2_i)
    y_pred2_i = reg2_i.predict(x_test2_i)
    smae_2 += np.sum(np.absolute(y_test2_i - y_pred2_i))
    smrse_2 += np.sum((y_test2_i - y_pred2_i)**2)
    l2 += len(y_test2_i)

    #mae2_i = MAE(y_test2_i, y_pred2_i)
    #mrse2_i = MRSE(y_test2_i, y_pred2_i)
    #mae_2.append(mae2_i) 
    #mrse_2.append(mrse2_i)

In [24]:
mae_turb2 = smae_2/l2
mrse_turb2 = np.sqrt(smrse_2/l2)
#mae_turb2 = statistics.mean(mae_2)
#mrse_turb2 = statistics.mean(mrse_2)
print('MAE_turb2 :', mae_turb2)
print('MRSE_turb2 :', mrse_turb2)

MAE_turb2 : 326.3025119450661
MRSE_turb2 : 469.43941893793794

In [27]:
# Valeurs de référence des experts 
mae2_D = MAE(np.array((Turb2[['ProductionForecast_D']][1394:])), np.array(Turb2[['ActivePower']][1394:]))
mae2_M = MAE(np.array((Turb2[['ProductionForecast_M']][1394:])), np.array(Turb2[['ActivePower']][1394:]))
mrse2_D = MRSE(np.array((Turb2[['ProductionForecast_D']][1394:])), np.array(Turb2[['ActivePower']][1394:]))
mrse2_M = MRSE(np.array((Turb2[['ProductionForecast_M']][1394:])), np.array(Turb2[['ActivePower']][1394:]))
print('MAE_D :', mae2_D)
print('MRSE_D :', mrse2_D)
print('MAE_M :', mae2_M)
print('MRSE_M :', mrse2_M)

MAE_D : 362.7106966940372
MRSE_D : 544.328521370032
MAE_M : 321.93381215981174
MRSE_M : 490.493708397833