In [16]:
# Créer des séries temporelles

import numpy as np

import pandas as pd


np.random.seed(1)


import matplotlib.pyplot as plt

## <<<< LOAD DATA ENGIE >>>>

In [208]:
# df = pd.read_csv('../RE  Pondération experts/FRMHNN11.csv',sep=';', index_col="DateTime") # ,parse_dates=['DateTime'],dayfirst=True

df = pd.read_csv('./FRMHN11.csv',sep=';', index_col="DateTime") # ,parse_dates=['DateTime'],dayfirst=True

In [209]:
df

,ActivePower,ProductionForecast_D,ProductionForecast_M
DateTime,,,
2020-03-05 00:00:00,"1697,2022160665","1750,206339","1338,7500000000002"
2020-03-05 01:00:00,"1708,1725708111169","1859,345119","1143,75"
2020-03-05 02:00:00,"1244,7086093427665","1727,167637","1046,25"
2020-03-05 03:00:00,"1261,8040361268","1645,022462","1046,25"
2020-03-05 04:00:00,"1281,0959932573166","1655,782922","997,5"
...,...,...,...
2021-10-20 00:00:00,"3299,8560954430664","2720,159697","2820,0"
2021-10-20 01:00:00,"2387,9078167191415","2660,177096","2820,0"
2021-10-20 02:00:00,"2016,272910748842","2568,792496","2775,0"
2021-10-20 03:00:00,"2181,5573087011503","2739,319746","2775,0"
2021-10-20 04:00:00,"1306,383053562767","2925,364899","3000,0"

In [339]:
df = pd.read_csv('../RE  Pondération experts/FRBRE_E03.csv',sep=';', index_col="DateTime") # ,parse_dates=['DateTime'],dayfirst=True

In [296]:
df2 = pd.read_csv('../RE  Pondération experts/FRHVA_E04.csv',sep=';', index_col="DateTime") # ,parse_dates=['DateTime'],dayfirst=True

In [20]:
df2

,ActivePower,ProductionForecast_D,ProductionForecast_M
DateTime,,,
2020-02-12 16:00:00,"538,746431838","439,182234","447,6"
2020-02-12 17:00:00,"660,95583319","351,202216","368,8"
2020-02-12 18:00:00,"249,54682373","299,196237","309,7"
2020-02-12 19:00:00,"353,09258012333333","236,735618","276,5"
2020-02-12 20:00:00,"363,51133752833334","207,069759","263,0"
...,...,...,...
2021-12-31 20:00:00,"252,55737916666666","364,08639","368,8"
2021-12-31 21:00:00,"349,21927214500005","351,571066","368,8"
2021-12-31 22:00:00,"201,9554309283333","335,312431","290,0"
2021-12-31 23:00:00,"212,86352807333333","200,424388","263,0"
2022-01-01 00:00:00,"301,17445283","64,517932","125,9"

In [320]:
df = pd.read_csv('../RE  Pondération experts/FRMHN_E06.csv',sep=';', index_col="DateTime") # ,parse_dates=['DateTime'],dayfirst=True

In [22]:
df3

,ActivePower,ProductionForecast_D,ProductionForecast_M
DateTime,,,
2020-01-30 17:00:00,"2866,3645562799998","3112,223161","2775,0"
2020-01-30 18:00:00,"3299,7608184666665","3074,894251","3000,0"
2020-01-30 19:00:00,"2960,236933385","3115,750866","3022,5"
2020-01-30 20:00:00,"2354,139261253333","3012,623302","3022,5"
2020-01-30 21:00:00,"2047,085903698","3003,807589","3045,0"
...,...,...,...
2021-12-31 20:00:00,"346,10668026666457","718,294941","712,5"
2021-12-31 21:00:00,"354,20681695833224","676,4444","712,5"
2021-12-31 22:00:00,"845,0325026379987","1018,052085","637,5"
2021-12-31 23:00:00,"531,3955647549989","1086,595598","562,5"
2022-01-01 00:00:00,"264,5024076916656","758,144946","480,0"

In [23]:
df['ActivePower'] = [np.float64(x.replace(',', '.')) for x in df['ActivePower']]
df['ProductionForecast_D'] = [np.float64(x.replace(',', '.')) for x in df['ProductionForecast_D']]
df['ProductionForecast_M'] = [np.float64(x.replace(',', '.')) for x in df['ProductionForecast_M']]

In [24]:
data_frame_post = df

In [25]:
data_frame_post

                     ActivePower  ProductionForecast_D  ProductionForecast_M
DateTime
2020-03-05 00:00:00  1614.345422            948.189357                 745.2
2020-03-05 01:00:00  1478.355419            967.269962                 711.8
2020-03-05 02:00:00  1690.147069            948.830677                 645.0
2020-03-05 03:00:00  1516.965994           1102.870568                 645.0
2020-03-05 04:00:00   936.617865            962.811666                 568.8
...                          ...                   ...                   ...
2021-10-16 14:00:00     0.423586              0.000000                   0.0
2021-10-16 16:00:00    33.743984              0.000000                   0.0
2021-10-16 17:00:00    66.180937             29.035056                   0.0
2021-10-16 22:00:00     3.609505              0.000000                   4.0
2021-10-17 01:00:00     2.386485              0.000000                   2.0

[11678 rows x 3 columns]

In [26]:
data_frame_post['ActivePower'] = pd.to_numeric(data_frame_post['ActivePower'])
data_frame_post['ProductionForecast_D'] = pd.to_numeric(data_frame_post['ProductionForecast_D'], errors='coerce')
data_frame_post['ProductionForecast_M'] = pd.to_numeric(data_frame_post['ProductionForecast_M'], errors='coerce')

In [ ]:
data_frame_post

In [ ]:
data_frame = data_frame_post.drop(["ActivePower"], axis=1)

In [ ]:
type(data_frame["ProductionForecast_D"][0])

In [ ]:
data_frame_ref = data_frame_post.drop(["ProductionForecast_D", "ProductionForecast_M"], axis=1)

In [ ]:
data_frame_ref

### ADD NEW AGENT CREATE CREATE BY PREVIOUS

In [ ]:
df.index  == '2021-10-17 00:00:00'

In [ ]:
count = 0
for i in df.index == "2021-03-05 22:00:00":
    
    count = count +1
    if i == True :
        break

In [ ]:
count

In [ ]:
df.iloc[7299]

In [ ]:
data_frame['Moy'] = 0.5 * data_frame['ProductionForecast_D'] + 0.5 * data_frame['ProductionForecast_M']
data_frame['2D_1M'] = 1/3 * (2 * data_frame['ProductionForecast_D'] + data_frame['ProductionForecast_M'])
data_frame['1D_2M'] = 1/3 * (data_frame['ProductionForecast_D'] + 2 * data_frame['ProductionForecast_M'])
data_frame['1D_3M'] = 1/4 * (data_frame['ProductionForecast_D'] + 3 * data_frame['ProductionForecast_M'])
data_frame['3D_1M'] = 1/4 * (3 * data_frame['ProductionForecast_D'] + data_frame['ProductionForecast_M'])

In [ ]:
b = np.array([0,0, 1])
np.random.choice(np.where(b == b.max())[0])

# Transform the problem to a suppervise problem

___

In [340]:
df

,ActivePower,ProductionForecast_D,ProductionForecast_M
DateTime,,,
2020-01-10 14:00:00,"361,984872744","73,615132","368,8"
2020-01-10 15:00:00,"412,47429850000003","103,804581","263,0"
2020-01-10 16:00:00,"301,33653231999995","114,025995","195,5"
2020-01-10 17:00:00,"250,289557805","88,874642","155,0"
2020-01-10 18:00:00,"160,10746015499998","123,421363","135,6"
...,...,...,...
2021-12-31 20:00:00,"300,2171883216668","416,027935","349,1"
2021-12-31 21:00:00,"264,6360860866668","452,477582","329,4"
2021-12-31 22:00:00,"224,62732453333342","390,112854","290,0"
2021-12-31 23:00:00,"247,70840324666676","291,529285","263,0"
2022-01-01 00:00:00,"270,99845835000013","212,693294","135,6"

In [341]:
new_df = pd.DataFrame()
new_df['t_D'] = df['ProductionForecast_D'].str.replace(',', '.').astype(float)
new_df['t_M'] = df['ProductionForecast_M'].str.replace(',', '.').astype(float)
new_df['t_Moy'] = (df['ProductionForecast_M'].str.replace(',', '.').astype(float) + df['ProductionForecast_D'].str.replace(',', '.').astype(float)) / 2
new_df['t-36'] = df['ActivePower'].str.replace(',', '.').astype(float).shift(36)

In [342]:
new_df

                            t_D    t_M       t_Moy         t-36
DateTime
2020-01-10 14:00:00   73.615132  368.8  221.207566          NaN
2020-01-10 15:00:00  103.804581  263.0  183.402290          NaN
2020-01-10 16:00:00  114.025995  195.5  154.762997          NaN
2020-01-10 17:00:00   88.874642  155.0  121.937321          NaN
2020-01-10 18:00:00  123.421363  135.6  129.510682          NaN
...                         ...    ...         ...          ...
2021-12-31 20:00:00  416.027935  349.1  382.563967  1058.005681
2021-12-31 21:00:00  452.477582  329.4  390.938791  1265.462598
2021-12-31 22:00:00  390.112854  290.0  340.056427  1066.196084
2021-12-31 23:00:00  291.529285  263.0  277.264643   942.946982
2022-01-01 00:00:00  212.693294  135.6  174.146647   967.472824

[11194 rows x 4 columns]

In [343]:
# split a multivariate sequence into samples
def split_sequences(sequences, n_steps):
  X, y = list(), list()
  for i in range(len(sequences)):
    # find the end of this pattern
    end_ix = i + n_steps
    # check if we are beyond the dataset
    if end_ix > len(sequences):
     break
    # gather input and output parts of the pattern
    seq_x, seq_y = sequences[i:end_ix, :-1], sequences[end_ix-1, -1]
    X.append(seq_x)
    y.append(seq_y)
  return np.array(X), np.array(y)

In [349]:
X, y = split_sequences(np.array(new_df[883:6669]), 37)

In [350]:
# univariate cnn example
from numpy import array
from keras.models import Sequential
from keras.layers import Dense
from keras.layers import Flatten
from keras.layers.convolutional import Conv1D
from keras.layers.convolutional import MaxPooling1D

In [351]:
# the dataset knows the number of features, e.g. 2
n_features = X.shape[2]

In [352]:
# define model
model = Sequential()
model.add(Conv1D(filters=64, kernel_size=3, activation='relu', input_shape=(37,n_features))) 
model.add(MaxPooling1D(pool_size=2)) 
model.add(Flatten())
model.add(Dense(75, activation='relu')) 
model.add(Dense(50, activation='relu')) 
model.add(Dense(25, activation='relu')) 
model.add(Dense(1))

model.compile(optimizer='adam', loss='mse')

In [354]:
model.fit(X, y, epochs=2000, verbose=0)

In [355]:
new_df

                            t_D    t_M       t_Moy         t-36
DateTime
2020-01-10 14:00:00   73.615132  368.8  221.207566          NaN
2020-01-10 15:00:00  103.804581  263.0  183.402290          NaN
2020-01-10 16:00:00  114.025995  195.5  154.762997          NaN
2020-01-10 17:00:00   88.874642  155.0  121.937321          NaN
2020-01-10 18:00:00  123.421363  135.6  129.510682          NaN
...                         ...    ...         ...          ...
2021-12-31 20:00:00  416.027935  349.1  382.563967  1058.005681
2021-12-31 21:00:00  452.477582  329.4  390.938791  1265.462598
2021-12-31 22:00:00  390.112854  290.0  340.056427  1066.196084
2021-12-31 23:00:00  291.529285  263.0  277.264643   942.946982
2022-01-01 00:00:00  212.693294  135.6  174.146647   967.472824

[11194 rows x 4 columns]

In [356]:
X_predict, y_true = split_sequences(np.array(new_df[6670:10163]), 37)

In [357]:
Y_pred = model.predict(X_predict)

In [358]:
Y_pred.shape

(3457, 1)

___

## MAE & RMSE for ENGIE

In [359]:
import sklearn.metrics as metrics

> MAE

In [362]:
metrics.mean_absolute_error(np.array(y_true), (Y_pred))

186.67203744833236

> RMSE

In [363]:
metrics.mean_squared_error(np.array(y_true), (Y_pred), squared=False)

255.25685762628925